nav {
  display: grid; /* ? */
  place-items: center; /* ? */
  position: fixed;
  left: 0; /* ? */
  top: 0; /* ? */
  z-index: 99;
  width: 100vw; /* ? */
  height: 5rem;
  background-color: var(--color-primary);
}

/* only shows on medium and small screens */
.nav__toggole-btn {
  display: none;
}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.logo {
  width: 7rem;
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 3.5rem;
}

.nav__links {
  transition: var(--transition);
}

.nav__links a:hover {
  color: var(--color-secondary);
}

.active-nav {
  position: relative;
}

.active-nav:after {
  position: absolute;
  left: calc(50% - 0.6rem);
  content: "";
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background-color: red;
  transform: rotate(45deg);
  margin-top: 0.9rem;
}
